.x_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 0 50px 40px 10px;
}

.img_style {
    width: 120px;
}

@media only screen and (max-width: 850px) {
    .img_style {
        width: 80px !important;
    }
}

@media only screen and (max-width: 650px) {
    .x_person {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 0 50px 0;

        margin-bottom: 60px;
    }

    .img_style {
        width: 80px !important;
    }
}